h1{
  font-family: $font-alt;
  font-weight: normal;
  font-size: 45px;
  line-height: 0.96;
  position:relative;
  letter-spacing: 0.007em;
  span{
    display:block;
    width:40px;
    height:1px;
    background:white;
    position:absolute;
    left:0;
    top:-14px;
  }
  @media #{$desk} {

  }
}

h2{
  font-family: $font-alt;
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 16px;
  position:relative;
  letter-spacing: 0.007em;
  span{
    display:block;
    width:40px;
    height:1px;
    background:white;
    position:absolute;
    left:0;
    top:-10px;
  }
  @media #{$tab} {
  }
  @media #{$desk} {

  }
}

h3{
  font-family: $font-alt;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.007em;
  margin-bottom: 20px;
  @media #{$desk} {
  }
}
