h1{
  font-family: $font-alt;
  font-weight: normal;
  font-size: 45px;
  margin-bottom: 30px;
  position:relative;
  letter-spacing: 0.007em;
}

h2{
  font-family: $font-alt;
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 30px;
  position:relative;
  letter-spacing: 0.007em;
}
